<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{fileName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list-item class="secondary-button-padding">
                    <p>Name</p>
                    <md-button class="md-secondary"><b>{{contents.name}}</b></md-button>
                </md-list-item>
                <md-list-item class="secondary-button-padding">
                    <p>Size</p>
                    <md-button class="md-secondary"><b> {{contents.size}}</b></md-button>
                </md-list-item>
                <md-list-item class="secondary-button-padding">
                    <content>Date</p>
                        <md-button class="md-secondary"><b> {{contents.date | date: 'dd-MM-yyyy'}}</b></md-button>
                </md-list-item>
                <md-list-item class="secondary-button-padding">
                    <p>MIME Type</p>
                    <md-button class="md-secondary"><b> {{contents.MimeType}}</b></md-button>
                </md-list-item>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="answer('not useful')">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
